<html>
<head>
    <title>Content</title>
    <style>
        body
        {
        background:pink;
        text-align:center;
        }
        p
        {
        color:green;
        text-align:center;
        font-size:25px;
        font-family:arial;
        }
        .naveen
        {
        color:white;
        text-align:center;
        font-size:18px;
        font-family:arial;
        }
        .reddy
        {
        text-align:center;
        color:green;
        font-size:25px;
        font-family:arial;
        }

    </style>
</head>
<body>
<h1 class="reddy">NAVEEN REDDY</h1>
<P>YOUR BECOME IN FUTURE AS A SOFTWARE DEVELOPER</P>
<P class="naveen">YOUR GOAL WILL REACHED AS WELL AS SOON</P>
</body>
</html>